<div class = "main-header">
  <div class = "room-name">
    <%= link_to "room",""%>
  </div>
  <div class = "exit-button">
    <%= link_to "チャットを終了する",""%>
  </div>    
</div>
<div class = "main-chat">
  <div class = "message">
    <div class = "name-date">
      <div class = "name">
        Tom
      </div>
      <div class = "date">
        2020/3/31
      </div>
    </div>
    <div class = "text">
      おはよう
    </div>
  </div> 
  <div class = "message">
    <div class = "name-date">
      <div class = "name">
        Tom
      </div>
      <div class = "date">
        2020/3/31
      </div>
    </div>
    <div class = "text">
      こんばんわ
    </div>
  </div>                   
</div>
<div class = "form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message" type = "text">
    <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>  