<div class = "side-header">
  <div class = "user-name">
    <%= link_to current_user.name, edit_user_path(current_user.id)%>
  </div>  
  <div class = "make-chat">
    <%= link_to "チャットを作成する",""%>
  </div>  
</div>
<div class = "side-main">
  <div class = "room">
   <%= link_to "room1",""%>
  </div>
  <div class = "room">
    <%= link_to "room2",""%>
  </div>  
</div>