.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
  padding: 0 20px;
}
.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
  padding: 0 40px;
}

.side-header{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-main{
  height: calc(100% - 100px);
  width: 100%;
  background-color: #2F3E51;
}

.main-header{
  height: 100px;
  width: 100%;
  margin-bottom: 46px;
}

.main-chat{
  height: calc(100% - 190px);
  width: 100%;
  background-color: #FAFAFA;
}

.form{
  height: 90px;
  width: 100%;
  background-color: #DDDDDD;
  padding: 20px 0;
}

.user-name a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.make-chat a{
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  font-size: 10px;
  text-decoration: none;
}

.room{
  padding: 20px 0 40px 0;
}

.room a{
  color: white;
  text-decoration: none;
}